In [1]:
# neccessary imports
import numpy as np
import pandas as pd

In [2]:
# import dataset
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

### Always make sure to create a copy of original dataset before starting the cleaning process...

In [3]:
patients_copy = patients.copy()
treatments_copy = treatments.copy()
adverse_reactions_copy = adverse_reactions.copy()

In [4]:
missing_patients = patients_copy[patients_copy['address'].isnull()]

## a. Completeness Issues
- [address, city, state, zip code, contact] all these columns has missing values (leave it !)
- Only 280 rows are there, instead of 350 (70 rows are missing)
- hba1c_change column has missing values

### Define

- Substract hba1c_start from hba1c_end to get hba1c_change

### Code

In [5]:
treatments_copy['hba1c_change'] = treatments_copy['hba1c_start'] - treatments_copy['hba1c_end']

### Test

In [6]:
treatments_copy.info()
treatments_copy.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    280 non-null    object
 1   surname       280 non-null    object
 2   auralin       280 non-null    object
 3   novodra       280 non-null    object
 4   hba1c_start   280 non-null    float64
 5   hba1c_end     280 non-null    float64
 6   hba1c_change  280 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    280.000000
mean      7.985929    7.589286      0.396643
std       0.568638    0.569672      0.060168
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.350000
50%       7.800000    7.420000      0.390000
75%       7.970000    7.570000      0.440000
max       9.950000    9.580000      0.540000

## b. Tidiness Issue / Structural Issue
- Phone and email are in same column i.e. [contact] column
- 3 set of information stored in 2 variables i.e.[auralin, novodra] (Need to create 3 seperate variables
    `higher_does`, `lower_does`, `treatment_type`)
- No point to create a seperate table to display a single information (Will merge the [adverse_reaction] column with treatments table)

In [7]:
treatments_copy

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrov√°,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
...,...,...,...,...,...,...,...
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,0.32
277,mathea,lilleb√∏,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,sam√∫el,gu√∞brandsson,53u - 56u,-,8.00,7.64,0.36

### Define

- 3 set of information stored in 2 variables i.e.[auralin, novodra] (Need to create 3 seperate variables
    `higher_does`, `lower_does`, `treatment_type`)

### Code

In [8]:
treatments_copy = pd.melt(treatments_copy, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'],
       var_name='treatment', value_name='dose')

In [9]:
treatments_copy = treatments_copy[treatments_copy['dose'] != '-']

In [10]:
treatments_copy[['start', 'end']] = treatments_copy['dose'].str.split('-', expand=True)

In [13]:
treatments_copy.drop(columns={'dose'}, inplace=True)

### Test

In [15]:
treatments_copy.head()

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,start,end
0,veronika,jindrov√°,7.63,7.20,0.43,auralin,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u,42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u,38u
9,asia,wo≈∫niak,7.76,7.37,0.39,auralin,30u,36u