In [47]:
import pandas as pd

In [69]:
# datasets
athletes = pd.read_csv('./olympic_2024/athletes.csv')
medals = pd.read_csv('./olympic_2024/medals.csv')
total_medals = pd.read_csv('./olympic_2024/medals_total.csv')
events = pd.read_csv('./olympic_2024/events.csv')
swimming = pd.read_csv('./olympic_2024/results/Swimming.csv')

In [70]:
events.head()

,event,tag,sport,sport_code,sport_url
0,Men's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
1,Women's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
2,Men's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
3,Women's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
4,Mixed Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery

In [71]:
total_medals[total_medals['country_code']=='IND']

   country_code  Gold Medal  Silver Medal  Bronze Medal  Total
71          IND           0             1             5      6

In [74]:
swimming['participant_type'].value_counts()

participant_type
Person    1485
Team       169
Name: count, dtype: int64