In [1]:
L = [1, 2, 3, 4, 5, 6, 7]

map(lambda x: x*2, L) # By default map returns map object with it's memory location.
# To view actual output pass the map function inside a list.

### #Method- 1

In [2]:
list(map(lambda x: x*2, L))

[2, 4, 6, 8, 10, 12, 14]

### #Method- 2

In [3]:
double = lambda x: x*2
list(map(double, L))

[2, 4, 6, 8, 10, 12, 14]

In [10]:
cube = lambda x: x**3
square = lambda x: x**2

In [12]:
list(map(cube, L))

[1, 8, 27, 64, 125, 216, 343]

In [23]:
students = [
    {
        'name':'Jacob Martin',
        'father name':'Ros Martin',
        'Address':'123 Hill Street'
    },
    {
        'name':'Angela Stevens',
        'father name':'Robert Stevens',
        'Address':'3 Upper Street London'
    },
    {
        'name':'Ricky Smart',
        'father name':'William Smart',
        'Address':'Unknown'
    }
]

In [24]:
# one way
names = lambda x: x['name']
list(map(names, students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smart']

In [36]:
# another way
list(map(lambda student: student['name'], students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smart']